
<%= turbo_frame_tag "modal" do %>

<% end %>
<!-- BEGIN: New post Modal -->
<div data-controller="modal" data-acation="keyup@document->modal#handleKeyup" class="modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- BEGIN: Modal Header -->
          <div class="modal-header">
              <h2 class="font-medium text-base mr-auto">
                  New Post
              </h2>
          </div>
          <!-- END: Modal Header -->
          <div class="modal-body p-0">
            <%= turbo_frame_tag "modal-body" do %>
              <%= yield %>
            <% end %>
          </div>
      </div>
  </div>
</div>
<!-- END: New Post Modal -->