<div class="top-bar -mx-4 px-4 md:mx-0 md:px-0">
    <!-- BEGIN: Breadcrumb -->
    <%= render partial: 'layouts/breadcrumbs' %>
    <!-- END: Breadcrumb -->
    <!-- BEGIN: Search -->
    <%= render 'layouts/search' %>
    <!-- END: Search -->
    <!-- BEGIN: Notifications -->
    <%= render 'layouts/notifications' %>
    <!-- END: Notifications -->
    <!-- BEGIN: Account Menu -->
    <%= render 'layouts/account_menu' %>
    <!-- END: Account Menu -->
</div>