<div class="intro-y flex items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
      <%= t('helpers.titles.new', model: Post.model_name.human) %>
    </h2>
</div>
<%= turbo_frame_tag @post do %>
  <div class="grid grid-cols-12 gap-6 mt-5">
      <div class="intro-y col-span-12 lg:col-span-12">
        <%= render 'form', post: @post %>
      </div>
  </div>
<% end %>