<div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
  <div class="report-box zoom-in">
    <div class="box p-5">
      <div class="flex">
        <i data-lucide="shopping-cart" class="report-box__icon text-primary"></i> 
        <div class="ml-auto">
          <div class="report-box__indicator bg-success tooltip cursor-pointer" title="33% Higher than last month"> 33% <i data-lucide="chevron-up" class="w-4 h-4 ml-0.5"></i> </div>
        </div>
      </div>
      <div class="text-3xl font-medium leading-8 mt-6">4.710</div>
      <div class="text-base text-slate-500 mt-1">Item Sales</div>
    </div>
  </div>
</div>